Integration Telegram Bot, OpenAI, Google Sheets.blueprint.json
{
    "name": "Integration Telegram Bot, OpenAI, Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2660253
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 972,
                    "y": 8
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Gastos Casa"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "telegram:DownloadFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5940797
            },
            "filter": null,
            "mapper": {
                "fileId": "{{1.message.document.file_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1224,
                    "y": 5
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "telegram"
                            },
                            "label": "Gastos Casa"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:telegram",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileId",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5969372
            },
            "filter": null,
            "mapper": {
                "prompt": "Extrae la información de este ticket o factura para un registro confidencial.\nReglas de formato obligatorias:\n\n    JSON Puro: Responde únicamente con el objeto JSON. No incluyas explicaciones, ni etiquetas de código de Markdown (como ```json), ni texto antes o después.\n    Valores Numéricos: Los campos \"importe\" e \"iva\" deben ser cadenas de texto (entre comillas), con exactamente dos decimales y usando la coma (,) como separador.\n        Ejemplo correcto: \"23,54\"\n    Ausencia de datos: Si un dato no existe, usa el valor null (sin comillas).\n\nEstructura del JSON:\n{\n\"fecha\": \"YYYY-MM-DD\",\n\"importe\": \"0,00\",\n\"iva\": \"0,00\",\n\"categoria\": \"Categoría del gasto\",\n\"empresa\": \"Nombre del vendedor\",\n\"cif_nif\": \"CIF o NIF\",\n\"numero_factura\": \"ID del ticket\"\n}\nDatos a extraer:\n\n    fecha: Formato YYYY-MM-DD.\n    importe: Total pagado con coma decimal.\n    iva: Cuota de IVA con coma decimal.\n    categoria: Tipo de gasto (Gasolina, Supermercado, etc.).\n    empresa: Nombre emisor.\n    cif_nif: Identificación fiscal.\n    numero_factura: Identificador único.",
                "images": [
                    {
                        "imageUploadType": "imageFile",
                        "imageFileData": "{{21.fileOutput}}"
                    }
                ],
                "model": "gpt-4o-mini",
                "max_tokens": "500",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 1485,
                    "y": -6
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image File"
                                    }
                                }
                            ]
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "type": "array",
                        "label": "Images",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "imageUploadType",
                                    "type": "select",
                                    "label": "How would you like to specify an image?",
                                    "options": [
                                        {
                                            "label": "Image URL",
                                            "value": "url",
                                            "nested": [
                                                {
                                                    "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                    "mode": "edit",
                                                    "name": "imageUrl",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "mappable": {
                                                        "help": "Public URL of the image. For example, `https://getmyimage.com/myimage.png`."
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Image File",
                                            "value": "imageFile",
                                            "nested": [
                                                {
                                                    "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the __HTTP: Get a file__ module.",
                                                    "name": "imageFileData",
                                                    "type": "buffer",
                                                    "label": "Image File",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Image",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 354692
            },
            "filter": null,
            "mapper": {
                "json": "{{31.choices[1].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1785,
                    "y": -6
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Ticket"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "fecha",
                        "label": "Fecha",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "importe",
                        "label": "Importe",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "iva",
                        "label": "Iva",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "categoria",
                        "label": "Categoria",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "empresa",
                        "label": "Empresa",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "cif_nif",
                        "label": "Cif nif",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "numero_factura",
                        "label": "Numero factura",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 40,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5953594
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/1Qs-AqKvj8lFjyZY2QT1GeLjM1JO3-9pq/1B75ld1EYazyvCxAx8HYt8K-NxUKGMK7qZCI1aYhzq28",
                "sheetId": "Hoja 1",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                    "0": "{{33.fecha}}",
                    "1": "{{33.importe}}",
                    "2": "{{33.iva}}",
                    "3": "{{33.categoria}}",
                    "4": "{{33.empresa}}",
                    "5": "{{33.cif_nif}}",
                    "6": "{{33.numero_factura}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2085,
                    "y": -6
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (vanealmironmusica@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Gastos Casa",
                                "Gastos Casa"
                            ]
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values in columns",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "fecha (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "importe (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "iva (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "categoria (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "empresa (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "cif_nif (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "numero_factura (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "(H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "(I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "(J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ],
                                    "metadata": [
                                        [
                                            [
                                                "fecha",
                                                "importe",
                                                "iva",
                                                "categoria",
                                                "empresa",
                                                "cif_nif",
                                                "numero_factura"
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "fecha",
                                    "importe",
                                    "iva",
                                    "categoria",
                                    "empresa",
                                    "cif_nif",
                                    "numero_factura"
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "fecha (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "importe (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "iva (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "categoria (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "empresa (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "cif_nif (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "numero_factura (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}